
.cursor {
    position: absolute;
    z-index: 999;
    height: 175px;
    cursor: none;
    pointer-events: none;
    img{
        width: 175px;
        transform: translate(-40px, -60px);
        pointer-events: none;
    }

}

@keyframes hit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(175deg);
    }
}

