.cursor {
  position: absolute;
  z-index: 999;
  height: 175px;
  cursor: none;
  pointer-events: none;
}
.cursor img {
  width: 175px;
  -webkit-transform: translate(-40px, -60px);
          transform: translate(-40px, -60px);
  pointer-events: none;
}

@-webkit-keyframes hit {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
}

@keyframes hit {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
}