.container-tutorial {
    background-color: #E9E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1120px;
    height: 580px;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 20px;
    position: relative;
    
}

.tutorial-header {
    display: flex;
  
}

.tutorial-text-first {
    display: flex;
    width: 450px;
    height: 200px;
    position: relative;
    right: 200px;
    bottom: 50px;

    
}

.tutorial-text-second {
    display: flex;
    width: 600px;
    height: 250px;
    position: relative;
    bottom: 100px;
    right: 150px;
}

.tutorial-icons {
    display: flex;
    position: relative;
    right: 300px;
    bottom: 110px;
    
}

.tutorial-text-first, .tutorial-text-second {
    color: #000000;
    font-size: 25px;
    font-weight:  solid 1000;
    
    
}

.p, h2 {
    font-family: "Montserrat";
    font-size: 50px;
}

.tutorial-header {
    font-family: "Montserrat";
    color: #92B400;
}

.tutorial-alien {
    position: relative;
    left: 350px;
    bottom: 500px;
}

.tutorial-alien img {
    width: 180px;
    height: 360px;
}

