.levelContainer {
   width: 100vw;
   height: 102vh;
   background: url('../../assets/images/Moon-play.png') center center no-repeat;
   background-size: 100% 100%;
}

body{
    background-image: url('../../assets/images/background-nightsky.png');
   overflow: hidden;
}