@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:wght@700&display=swap");
.levelContainer {
  width: 100vw;
  height: 102vh;
  background: url("../../assets/images/Moon-play.png") center center no-repeat;
  background-size: 100% 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.levelContainer .svg {
  margin: 0;
  padding: 0;
}
.levelContainer img {
  margin: 0;
  padding: 0;
}
.levelContainer .gameText {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.levelContainer .topContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}
.levelContainer .miniContainer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
  padding: 10px;
}
.levelContainer .miniContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  padding: 10px;
}
.levelContainer .soundIcon {
  padding: 15px;
}

body {
  background-image: url("../../assets/images/background-nightsky.png");
}

html {
  overflow: hidden;
}

.alien {
  z-index: 2;
  width: 120px;
  height: 120px;
  position: absolute;
  cursor: pointer;
	filter: drop-shadow(2px 4px 6px black);
}
.punched {
	filter: contrast(0.4)
}
.appear {
  -webkit-animation: appear 0.4s linear;
          animation: appear 0.4s linear;
}

.disappear {
  -webkit-animation: disappear 0.2s linear forwards;
          animation: disappear 0.2s linear forwards;
}

.a1 {
  top: 220px;
  left: 46%;
}

.a2 {
  top: 330px;
  left: 25%;
}

.a3 {
  top: 330px;
  left: 69%;
}

.a4 {
  top: 500px;
  left: 21%;
}

.a5 {
  top: 500px;
  left: 69%;
}

.a6 {
  top: 390px;
  left: 46%;
}

.a7 {
  top: 530px;
  left: 46%;
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    opacity: 1;
    bottom: 0;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes appear {
  from {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    opacity: 1;
    bottom: 0;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes disappear {
  from {
    bottom: 0;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  to {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}
@keyframes disappear {
  from {
    bottom: 0;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  to {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}