.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#pause-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    text-align: center;
    width: 300px;
}